

/*---------------------------------
 *  Carousel > Continuous
 *---------------------------------*/
.carousel-continuous{
	width:912px;height:142px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}
	

/* Navbar */
.carousel-continuous .sliderkit-nav{
left:0;bottom:0;width:892px;height:122px;padding:10px;background:#ccc}
.carousel-continuous .sliderkit-nav-clip ul li{float:left;margin:0 5px 0 0;}
.carousel-continuous .sliderkit-nav-clip ul li a{display:block;width:284px;height:122px;overflow:hidden;margin:0;opacity:0.8;}
.carousel-continuous .sliderkit-nav-clip ul li a:hover{opacity:1;}

/* Navbar buttons */
.carousel-continuous .sliderkit-nav .sliderkit-nav-btn{position:absolute;top:0;}
.carousel-continuous .sliderkit-nav .sliderkit-nav-btn span{display:none;}
.carousel-continuous .sliderkit-nav .sliderkit-nav-btn a{display:block;width:15px;height:142px;background:transparent url("../images/arrows-h.png") no-repeat center 0;}
.carousel-continuous .sliderkit-nav .sliderkit-nav-prev{left:10px;}
.carousel-continuous .sliderkit-nav .sliderkit-nav-next{right:10px;}
.carousel-continuous .sliderkit-nav .sliderkit-nav-prev a{background-position:-89px center;}
.carousel-continuous .sliderkit-nav .sliderkit-nav-next a{background-position:-108px center;}
.carousel-continuous .sliderkit-nav .sliderkit-nav-prev a:hover,
.carousel-continuous .sliderkit-nav .sliderkit-nav-prev a:focus{background-position:-126px center;}
.carousel-continuous .sliderkit-nav .sliderkit-nav-next a:hover,
.carousel-continuous .sliderkit-nav .sliderkit-nav-next a:focus{background-position:-145px center;}

/* Buttons > Disable */
.carousel-continuous .sliderkit-nav .sliderkit-btn-disable{opacity:0.3/*can be set to any value until 1*/;cursor:default;}

///*
// *  CAROUSEL
// *  ------------------------------------------------
// */
//
//
///*---------------------------------
// *  Carousel > Continuous
// *---------------------------------*/
//.carousel-continuous{width:877px;height:134px;}
//
///* Navbar */
//.carousel-continuous .sliderkit-nav{left:0;bottom:0;width:867px;height:122px;padding:10px;background:red;}
//.carousel-continuous .sliderkit-nav-clip ul li{margin:5px 5px 5px 0px;}
//.carousel-continuous .sliderkit-nav-clip ul li a{display:block;width:284px;height:122px;overflow:hidden;margin:0;opacity:0.8;}
//.carousel-continuous .sliderkit-nav-clip ul li a:hover{opacity:1;}
//
///* Navbar buttons */
//.carousel-continuous .sliderkit-nav .sliderkit-nav-btn{position:absolute;top:0;}
//.carousel-continuous .sliderkit-nav .sliderkit-nav-btn span{display:none;}
//.carousel-continuous .sliderkit-nav .sliderkit-nav-btn a{display:block;width:15px;height:134px;background:transparent url("../images/arrows-h.png") no-repeat center 0;}
//.carousel-continuous .sliderkit-nav .sliderkit-nav-prev{left:0px;}
//.carousel-continuous .sliderkit-nav .sliderkit-nav-next{right:10px;}
//.carousel-continuous .sliderkit-nav .sliderkit-nav-prev a{background-position:-89px center;}
//.carousel-continuous .sliderkit-nav .sliderkit-nav-next a{background-position:-108px center;}
//.carousel-continuous .sliderkit-nav .sliderkit-nav-prev a:hover,
//.carousel-continuous .sliderkit-nav .sliderkit-nav-prev a:focus{background-position:-126px center;}
//.carousel-continuous .sliderkit-nav .sliderkit-nav-next a:hover,
//.carousel-continuous .sliderkit-nav .sliderkit-nav-next a:focus{background-position:-145px center;}
//
///* Buttons > Disable */
//.carousel-continuous .sliderkit-nav .sliderkit-btn-disable{opacity:0.3/*can be set to any value until 1*/;cursor:default;}
//
///*---------------------------------
// *---------------------------------*/
